body{
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    min-width: 750px;
}
.heading{
    background-color: #FF6100;
    width: 100%;
    height: 340px;
    margin: 0 auto;
    padding-top: 10px; 
    color: #FFF;    
    font-family: 'Kumar One Outline', cursive;    
}
.nomeFlavio{
	font-size: 80px;
    margin-bottom: -23px;
}
.nomeFlaancy{
    font-size: 30px;
}

.main{
    font-family: 'Jura', sans-serif;
}

/* Style the tab buttons */
.tablink{
    background-color: #fff;
    color: #353535;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    margin-bottom: 20px;
}


/* Change background color of buttons on hover */
#botao1ID:active, #botao2ID:active, #botao2ID:active, #botao2ID:active {
    color: white; 
    background-color: #FF6100;
}
#botao1ID:hover, #botao2ID:hover, #botao3ID:hover, #botao4ID:hover {
    background-color: #FF6100;
    color: white;    
}
#botao1ID:focus, #botao2ID:focus, #botao3ID:focus, #botao4ID:focus {
    background-color: #FF6100;
    color: white;    
}
#botao1ID:target, #botao2ID:target, #botao3ID:target, #botao4ID:target {
    background-color: #FF6100;
    color: white;    
}

/* Set default styles for tab content */
.tabcontent{
    color: black;
    display: none;
    padding: 85px;
    text-align: center;
    width: 700px;
    height: 400px;
    margin: 0 auto;
}

.fotoMinha{
    width: 200px;
    height: 200px;
}
.studyTime{
    text-align: left;
}
.projects{
    text-align: -webkit-center;    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px;    
}
.projectType{
    font-size: 20px;
}
.colunaProjetos1, .colunaProjetos2, .colunaProjetos3{
    background-color: #FF6100; 
    width: 170px;
    height: 300px;
    color: white;
    border-style: none;
    border-radius: 5px;
}
.skills {
    text-align: -webkit-center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px;
}
.skillname{
    font-size: 20px;
}
.coding, .writing, .tools, .languages{
    background-color: #FF6100; 
    width: 160px;
    height: 300px;
    color: white;
    border-style: none;
    border-radius: 5px;
}

.letsTalk{
    padding-bottom: 10px;
}

.dootdoot{
    width: 250px;
    height: 250px;
}

.textosContato{
    text-align: left;
    font-family: 'Jura', sans-serif;
    border: 1px solid #FF6100;
    border-radius: 5px;
    width: 420px;
    height: 17px;
    outline: none;
    padding: 10px;
}

.textosContato:focus, .textosContato:active{
    border: 1px solid #FF6100;
    border-radius: 5px;
    width: 420px;
    height: 17px;
    outline: none;
    padding: 10px;
}

.enviarContato{
    padding: 10px;
    margin: 10px;
    background-color: #FF6100;
    color: white;
    border: 1px solid #FF6100;
    border-radius: 5px;
    font-family: 'Jura', sans-serif;
    font-size: 16px; 
}
.enviarContato:hover{
    padding: 10px;
    margin: 10px;
    background-color: #FF6100;
    color: white;
    border: 1px solid #FF6100;
    border-radius: 5px;
    font-family: 'Jura', sans-serif;
    font-size: 20px; 
    cursor: pointer;
}


.bottom{
    background-color: #FF6100;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Jura', sans-serif;
    font-size: 15px;
    color: white;
    height: 150px;
}
